@model HomeViewModel

<h2>Лучшие мобильные устройства</h2>

<div class="row mt-5 mb-2">
    @{
        foreach (Mobile mobile in Model.FavMobiles)
        {
            @Html.Partial("AllMobiles", mobile)
        }
    }
</div>
